/.gitignore
/.git/
/.github/
/.tools/
/.tools/
/.vscode/
/.idea/
/cover.out
/output/

/**/*.md
/vendor/**/.gitignore
/vendor/**/.golangci.yml
/vendor/**/.goreleaser.yml
/vendor/**/LICENSE.md
/vendor/**/LICENSE
/vendor/**/PATENTS
/vendor/**/Makefile
/vendor/**/.travis.yml
/vendor/**/appveyor.yml
/vendor/**/.dockerignore
/vendor/**/.codecov.yml
/vendor/**/.gitattributes

#### Test .dockerignore (https://stackoverflow.com/questions/38946683/how-to-test-dockerignore-file)
# docker build . --no-cache --progress plain -t dockerignore-test --file - <<EOF
# FROM busybox
# COPY . /e
# WORKDIR /e
# RUN find .
# RUN du -h -d 1
# EOF
